.capa{
    width: 100%;
    height: 50vh;
    line-height: 50vh;
    color: #d91515;
    text-align: center;
    font-size: 16vmin;
}

.capaImg{
    width: 50%;
    height: 50vh;
    line-height: 50vh;
    color: #d91515;
    text-align: center;
    font-size: 16vmin;
}